.noodverordening {
    ion-card-header, ion-card-title {
        color: white;
    }
    background-color: rgb(221, 90, 90);
    color: white;
}

ion-toolbar {
    --background: rgb(221, 90, 90);
    color: white;
}

ion-button {
    font-weight: 700;
}
