<ion-header>
        <ion-toolbar>
          <ion-title>Success!</ion-title>
        </ion-toolbar>
      </ion-header>
      
      <ion-content>
      
        <ion-card class='successcard'>
            <ion-card-header>
                <ion-card-title>Bedankt voor je input!</ion-card-title>
            </ion-card-header>
      
            <ion-card-content >
                <ion-icon name="checkmark"></ion-icon> <b> Je input is successvol verzonden. Met deze data kunnen we een beter inzicht krijgen in het betreffende risicogebied.</b>
            </ion-card-content>
        </ion-card>
        <ion-row>
            <ion-col text-center>
                <ion-button class ="ok-btn" (click)='ok()'>Ok!</ion-button>
            </ion-col>
          </ion-row>
      
      </ion-content>
      