
.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.warningPopup {
    position: absolute;
    bottom: 0;

    ion-card {

        ion-card-header, ion-card-title {
            color: white;
            font-weight: 500;
        }

        ion-button {
          font-weight: 700;
        }

        border-radius: 15px;
        background-color: rgb(221, 90, 90);
        color: white;
    }
}

.close-btn {
  --background: rgb(141, 141, 141);
}

.test-btn {
  position: absolute;
  top: 0;
  left: 0;
}

#map_canvas{
  height: 100%
}